main,header{
	margin: 5vh 10vw;
}
header{
	display: flex;
	justify-content: space-between;
}
#cart-button img{
	max-width: 32px;
	max-height: 32px;
}
#cart-button{
	background: none;
	border-radius: 50%;
	padding: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
#cart{
	position: relative;
}
#cart-button:hover{
	background-color: orange;
}